.select {
  position: relative;

  &__current {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--accent-color);
    color: #fff;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
      background-color: var(--accent-color-hover);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__options {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
  }

  &__options.active {
    display: block;
    position: absolute;
    top: 40px;
    background-color: #fff;
    z-index: 1;
    height: 245px;
    overflow-y: scroll;
    z-index: 3;

    @media (max-width: 600px) {
      left: -100px;
      top: 50px;
    }
  }

  &__item {
    padding: 5px 26px 5px 3px;
    cursor: pointer;

    &:hover {
      transition: 100ms linear;
      background-color: #eee;
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: #17171754;
  z-index: 2;
}
