.author {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  &__info {
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
      margin-bottom: 10px;
    }
  }

  &__avatar {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 10px;
    background-color: rgb(250, 250, 250);
  }

  &__email {
    word-break: break-all;
  }

  &__avatar-img {
    width: 100%;
    object-fit: cover;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 600;
  }

  &__city span {
    font-weight: 600;
  }
}

.post {
  &__container {
    max-width: 700px;
    margin: 20px auto;
    padding: 10px 10px 0 10px;

    .author__info {
      justify-content: space-between;
    }
  }
}
